html {
    scroll-behavior: smooth;
}

.light-text {
    color: #DEE3E4;
}

.dark-text1 {
    color: #252B33;
}

.dark-text2 {
    color: #212529;
}

.light-bg {
    background-color: #DEE3E4;
}

.dark-bg1 {
    background-color: #252B33;
}

.dark-bg2 {
    background-color: #212529;
}

.main-font {
    font-family: "Poppins", sans-serif;
}
