/* Shows logos on bigger screens */
@media only screen and (max-width: 992px) {
    .big-screens {
        display: none;
        max-height: 0;
    }

    .small-screens {
        display: block;
    }
}

/* Hides logos on smaller screens */
@media only screen and (min-width: 993px) {
    .big-screens {
        display: block;
    }

    .small-screens {
        display: none;
        max-height: 0;
    }
}

.exp-card {
    max-width: 540px;
    margin: inherit;
}

.vr-div {
    border-right: 2px solid var(--dark-color2);
}

.hr-div {
    border-top: 2px solid var(--dark-color2);
    padding-bottom: 2%;
}

.exp-col {
    margin: auto;
}

.info-text {
    font-weight: 600;
}

.btn-box2 {
    padding-top: 2%;
}