/* Hides logos on smaller screens */
@media only screen and (max-width: 992px) {
    .big-screens {
        display: none;
        visibility: hidden;
    }
}

/* Shows logos on bigger screens */
@media only screen and (min-width: 993px) {
    .small-screens {
        display: none;
        visibility: hidden;
    }
}

/* One column on smaller screens */
@media only screen and (max-width: 645px) {
    .vr-div {
        border-right: 2px solid var(--light-color);
    }

    .hr-div {
        display: none;
        visibility: hidden;
    }

    .exp-col-big {
        display: none;
        visibility: hidden;
    }

    .exp-col-small {
        display: initial;
    }
}

/* Two columns on bigger screens */
@media only screen and (min-width: 646px) {
    .vr-div {
        border-right: 2px solid var(--dark-color2);
    }

    .hr-div {
        display: block;
        border-top: 2px solid var(--dark-color2);
        padding-bottom: 2%;
    }

    .exp-col-big {
        margin: auto;
        display: initial;
    }

    .exp-col-small {
        display: none;
        visibility: hidden;
    }
}

.exp-card {
    max-width: 540px;
    margin: inherit;
}

.info-text {
    font-weight: 600;
}

.btn-box2 {
    padding-top: 2%;
}