.screen-bg {
    height: 100vh;
    text-align: center;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.35),
                    rgba(0, 0, 0, 0.35)
            ),
            url(./assets/background.jpg)
            no-repeat fixed center;
    z-index: -1;
    position: relative;
}

.main-text {
    padding-top: 35vh;
    font-family: inherit;
    color: inherit;
}

.scroll-icon {
    padding-top: 50vh;
}

.scroll-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s ease;
}

.scroll-link:hover {
    color: var(--sec-color);
}

.particle {
    position: fixed !important;
    height: 100%;
    width: 100%;
}

.big-header {
    font-size: 5rem;
}